<header class="header-nav">
  <div class="header-content">
    <a href="https://hmt-network.de/" class="logo">
      <img
        src="https://hmt-network.de/assets/img/logo/HMT-Symbol-Green.png"
        alt="HMT Logo"
        class="logo-img"
      />
      HMT Network
    </a>
    <ul class="nav-links">
      <li><a href="https://hmt-network.de/">Home</a></li>
      <li><a href="https://hmt-network.de/blog/">Blog</a></li>
      <li><a href="https://hmt-network.de/status">Status</a></li>
      <li><a href="https://hmt-network.de/about/">Über</a></li>
      <li><a href="https://hmt-network.de/docs/">Docs</a></li>
    </ul>
    <!-- Social Media Buttons -->
    <div class="social-card">
      <a
        href="https://hmt-network.de/socials"
        class="Btn socials"
        rel="noopener noreferrer"
      >
        <span class="svgContainer">
          <img
            src="https://hmt-network.de/assets/img/badges/icons8-link-100.png"
            alt="Socials"
            class="social-icon"
          />
        </span>
        <span class="BG"></span>
      </a>
      <a
        href="https://hmt-network.de/github"
        class="Btn github"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="svgContainer">
          <img
            src="https://hmt-network.de/assets/img/badges/github-mark-white.png"
            alt="GitHub"
            class="social-icon"
          />
        </span>
        <span class="BG"></span>
      </a>

      <a
        href="https://hmt-network.de/discord"
        class="Btn discord"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="svgContainer">
          <img
            src="https://hmt-network.de/assets/img/badges/Discord-Symbol-White-square.png"
            alt="Discord"
            class="social-icon"
          />
        </span>
        <span class="BG"></span>
      </a>
    </div>
  </div>
</header>
