<header class="header-nav">
  <div class="header-content">
    <a href="/" class="logo">
      <img src="/assets/img/logo/HMT-Symbol-Green.png" alt="HMT Logo" class="logo-img" />
      HMT Network
    </a>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/servers/">Server</a></li>
      <li><a href="/about/">Über</a></li>
      <li><a href="/docs/">Docs</a></li>
      <li><a href="/security/hall-of-fame">Security</a></li>
    </ul>
    <!-- Social Media Buttons -->
    <div class="social-card">
      <a
        href="https://hmt-network.de/github"
        class="Btn github"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="svgContainer">
          <img
            src="https://cdn.grueneeule.de/img/badges/github-mark-white.png"
            alt="GitHub"
            class="social-icon"
          />
        </span>
        <span class="BG"></span>
      </a>

      <a
        href="https://hmt-network.de/discord"
        class="Btn discord"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="svgContainer">
          <img
            src="https://cdn.grueneeule.de/img/badges/Discord-Symbol-White-square.png"
            alt="Discord"
            class="social-icon"
          />
        </span>
        <span class="BG"></span>
      </a>
    </div>
  </div>
</header>